@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  width: 260px;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #fffc64;
  border-radius: 100px;
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
